.acerca-de-container {
  color: white; /* Asegura que el texto sea visible en fondo oscuro */
}

.black {
  background-color: black;
}
.black-section {
  height: 100vh; /* Ocupa toda la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered-text {
  color: white;
  font-size: 30px; /* Tamaño de fuente grande */
}

.hero-text,
.hero-image-text {
  padding: 1rem;
}

.initiative-section {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.initiative-img-container {
  flex: 1;
}

.initiative-img {
  width: 100%;
  height: auto;
}

.initiative-content {
  flex: 1;
  padding: 1rem;
}
