.acerca-de-container {
  color: black; /* Asegura que el texto sea visible en fondo oscuro */
}

.overflow-hidden {
  overflow: hidden;
}

.black {
  background-color: black;
}
.black-section {
  height: 100vh; /* Ocupa toda la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered-text {
  color: black;
  font-size: 30px; /* Tamaño de fuente grande */
}

.hero-text,
.hero-image-text {
  padding: 1rem;
}

.initiative-section {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.initiative-img-container {
  flex: 1;
}

.initiative-img {
  width: 100%;
  height: auto;
}

.initiative-content {
  flex: 1;
  padding: 1rem;
}
.animate-text {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 10s forwards;
}

.animate-text-primary,
.animate-text-three,
.animate-text-four,
.animate-text-five {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  padding-bottom: 100px;
}
.animate-text-secondary {
  display: inline-block;
  animation: fadeIn 3s forwards;
  padding-bottom: 200px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
