.footer-container {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.bottom-nav .nav-link {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.bottom-nav .nav-link:hover {
  text-decoration: underline;
}

.social-links .nav-link {
  color: #fff;
  margin: 0 10px;
}

.social-links .nav-link:hover {
  color: #ddd;
}

.text-center p {
  margin: 10px 0 0;
}
footer {
  font-size: 0.875rem;
}

footer h5,
footer h6 {
  font-size: 1.25rem;
}

footer p,
footer a {
  font-size: 0.875rem;
}

@media (max-width: 767px) {
  footer h5,
  footer h6 {
    font-size: 1rem;
  }

  footer p,
  footer a {
    font-size: 0.75rem;
  }
}
