@import "~@fortawesome/fontawesome-free/css/all.min.css";

.header-container {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.header-container.dark-mode {
  background-color: #000;
  border-color: #00;
}

.logo-container {
  padding: 5px 0;
}

.logo-1 {
  max-height: 75px; /* Aumenta este valor para hacer el logo más grande */
  height: auto;
  width: auto;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.left-links .nav-link,
.right-links .nav-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.left-links .nav-link:hover,
.right-links .nav-link:hover {
  text-decoration: underline;
}

.left-links .nav-link.dark-mode,
.right-links .nav-link.dark-mode {
  color: #fff;
}

.left-links .nav-link.dark-mode:hover,
.right-links .nav-link.dark-mode:hover {
  text-decoration: underline;
}

.icon-placeholder {
  font-size: 24px;
  margin-left: 20px;
}

.btn-dark-mode-toggle {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 575.98px) {
  .top-nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .navbar-toggler {
    display: block;
    border: none;
    background: none;
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.show {
    display: block;
  }

  .left-links,
  .right-links {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .nav-link {
    margin: 10px 0;
    text-align: left;
  }

  .icon-placeholder {
    margin-left: 0;
    margin-right: 20px; /* Align icons to the right */
  }
}

/* Estilos para pantallas medianas y grandes (tablets y laptops) */
@media (min-width: 576px) {
  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
  }

  .navbar-toggler {
    display: none;
  }

  .navbar-collapse {
    display: flex !important;
  }

  .left-links {
    display: flex;
  }

  .right-links {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea los enlaces a la derecha */
    margin-left: auto; /* Empuja el grupo de enlaces a la derecha */
  }
}
