.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-top: 20px;
}

p {
  font-size: 1em;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  text-decoration: none;
  color: #6c757d;
}
ul li a:hover {
  text-decoration: underline;
  color: #495057;
}
