.container {
  padding: 20px;
}

.btn-dark {
  background-color: #000;
  border-color: #000;
}

.btn-dark:hover {
  background-color: #333;
  border-color: #333;
}

.text-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (max-width: 576px) {
  .container {
    padding: 5px;
  }

  .form-check-label {
    font-size: 0.8rem; /* Reduce el tamaño de la letra del campo de marcar */
  }
}
