.toast-success-custom {
  background-color: #000000 !important;
  color: white !important;
}

.toast-error-custom {
  background-color: #dc3545 !important; /* Cambia este color al que desees */
  color: white !important;
}

.toast-info-custom {
  background-color: #17a2b8 !important;
  color: white !important;
}

.toast-warning-custom {
  background-color: #ffc107 !important;
  color: black !important;
}
